/* box-shadow */
@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);
@font-face {
  font-family: 'noto';
  font-style: normal;
  font-weight: 500;
  src: url(http://fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-DemiLight.woff2) format("woff2"), url(http://fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-DemiLight.woff) format("woff"), url(http://fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-DemiLight.otf) format("opentype");
}
@font-face {
  font-family: 'noto-bold';
  font-style: normal;
  font-weight: 500;
  src: url(http://fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Medium.woff2) format("woff2"), url(http://fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Medium.woff) format("woff"), url(http://fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Medium.otf) format("opentype");
}
/*  default  */
html {
  font-size: 16px;
}

body {
  font-family: 'noto';
  line-height: 1.7;
}

* {
  transition: all .5s;
}

/* default */
img {
  max-width: 100%;
}

section:after, aside:after, article:after {
  content: "";
  display: block;
  clear: both;
}

/* add */
/*********************
	.menu-banners
**********************/
.menu-banners__inner {
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
}
.menu-banners__inner:after {
  content: "";
  display: block;
  clear: both;
}
