@charset "UTF-8";
/* box-shadow */
@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);
@font-face {
  font-family: 'noto-light';
  font-style: normal;
  font-weight: 500;
  src: url(http://fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Light.woff2) format("woff2"), url(http://fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Light.woff) format("woff"), url(http://fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Light.otf) format("opentype");
}
@font-face {
  font-family: 'noto';
  font-style: normal;
  font-weight: 500;
  src: url(http://fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-DemiLight.woff2) format("woff2"), url(http://fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-DemiLight.woff) format("woff"), url(http://fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-DemiLight.otf) format("opentype");
}
@font-face {
  font-family: 'noto-bold';
  font-style: normal;
  font-weight: 500;
  src: url(http://fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Medium.woff2) format("woff2"), url(http://fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Medium.woff) format("woff"), url(http://fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Medium.otf) format("opentype");
}
/*  default  */
html {
  font-size: 16px;
}

body {
  font-family: 'noto';
  line-height: 1.7;
  color: #505050;
}

* {
  transition: all .5s;
}

/* default */
img {
  max-width: 100%;
}

section, aside, article {
  *zoom: 1;
}
section:after, aside:after, article:after {
  content: '';
  display: table;
  clear: both;
}

h2 {
  margin-top: 0px;
}

/* add */
/*********************
	.intro
**********************/
.intro {
  margin-bottom: 120px;
  padding-top: 110px;
  background: transparent url("../images/bg-1.png") center top no-repeat;
}
@media screen and (max-width: 768px) {
  .intro {
    background-size: contain;
  }
}
.intro__inner {
  position: relative;
  max-width: 1080px;
  *zoom: 1;
  margin-left: auto;
  margin-right: auto;
  min-height: 100vh;
}
.intro__inner:after {
  content: '';
  display: table;
  clear: both;
}
.intro__image_left, .intro__image_right, .intro__description {
  position: absolute;
}
.intro__image_left {
  top: 0px;
  left: 60px;
}
.intro__image_right {
  top: 176px;
  right: -100px;
}
.intro__description {
  top: 345px;
  left: 0px;
  max-width: 610px;
  box-sizing: border-box;
  padding: 40px;
  background-color: #fff;
}
.intro__allow:after {
  content: '';
  width: 75px;
  height: 1px;
  display: block;
  position: absolute;
  right: 20px;
  bottom: 20px;
  background-color: black;
}
.intro__allow:before {
  content: '';
  width: 15px;
  height: 1px;
  background-color: black;
  transform: rotate(45deg);
  position: absolute;
  right: 18px;
  bottom: 25px;
}

/*********************
	.info
**********************/
.info {
  padding: 90px 0px;
  text-align: center;
  margin-bottom: 120px;
  background: transparent url("../images/bg-2.png") center center no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
@media screen and (max-width: 768px) {
  .info {
    background-size: contain;
    background-attachment: scroll;
  }
}

/*********************
	.news
**********************/
.news {
  margin-bottom: 120px;
}
.news__header {
  text-align: center;
  margin-bottom: 50px;
}

.news-items {
  max-width: 700px;
  *zoom: 1;
  margin-left: auto;
  margin-right: auto;
  display: table;
  margin-bottom: 2em;
}
.news-items:after {
  content: '';
  display: table;
  clear: both;
}
.news-items__date, .news-items__description {
  display: table-cell;
}
.news-items__date {
  padding-right: 1em;
}
.news-items__description {
  width: 85%;
}
.news-items__description p {
  margin: 0px;
}

/*********************
	.menu-banners
**********************/
.menu-banners {
  margin-bottom: 120px;
}
.menu-banners__inner {
  *zoom: 1;
}
.menu-banners__inner:after {
  content: '';
  display: table;
  clear: both;
}
.menu-banners__item {
  position: relative;
  height: 480px;
  background-size: cover;
  background-position-x: center;
}
@media screen and (max-width: 480px) {
  .menu-banners__item {
    height: 300px;
  }
}
.menu-banners__item__title {
  padding-top: 0.6em;
  text-align: center;
  font-size: 36px;
  font-size: 2.25rem;
  margin-bottom: 0px;
  font-style: italic;
  font-family: "noto-light" , "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", sans-serif;
  color: black;
}
.menu-banners__item__sub {
  text-align: center;
  font-size: 16px;
  font-size: 1rem;
  display: block;
  color: black;
}
.menu-banners__item__allow:after {
  content: '';
  width: 75px;
  height: 1px;
  display: block;
  position: absolute;
  right: 20px;
  bottom: 20px;
  background-color: black;
}
.menu-banners__item__allow:before {
  content: '';
  width: 15px;
  height: 1px;
  background-color: black;
  transform: rotate(45deg);
  position: absolute;
  right: 18px;
  bottom: 25px;
}

/*********************
	.banners
**********************/
.banners {
  margin-bottom: 120px;
}
.banners__inner {
  max-width: 888px;
  *zoom: 1;
  margin-left: auto;
  margin-right: auto;
}
.banners__inner:after {
  content: '';
  display: table;
  clear: both;
}
.banners__inner > div {
  padding-left: 20px;
  padding-right: 20px;
}
