@charset "UTF-8";
@import "compass";
@import "org";

@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);
@font-face {
   font-family: 'noto-light';
   font-style: normal;
   font-weight: 500;
   src: url(http://fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Light.woff2) format('woff2'),
        url(http://fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Light.woff) format('woff'),
        url(http://fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Light.otf) format('opentype');
}
@font-face {
   font-family: 'noto';
   font-style: normal;
   font-weight: 500;
   src: url(http://fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-DemiLight.woff2) format('woff2'),
        url(http://fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-DemiLight.woff) format('woff'),
        url(http://fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-DemiLight.otf) format('opentype');
}
@font-face {
   font-family: 'noto-bold';
   font-style: normal;
   font-weight: 500;
   src: url(http://fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Medium.woff2) format('woff2'),
        url(http://fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Medium.woff) format('woff'),
        url(http://fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Medium.otf) format('opentype');
}

$light-gray: #eee;
$white: #fff;
$black: #505050;

$color-border: $light-gray;



/*  default  */
html{
	font-size: 16px;
}
body{
	font-family: 'noto';
	line-height: 1.7;
	color: $black;
}
*{
	transition: all .5s;
}
a{
	&:hover{
	}
}

/* default */

img{
	max-width: 100%;
}

section,aside,article{
	@include cf;
}
h2{
	margin-top: 0px;
}

/* add */

$width: 1080px;

@mixin wrap($width:$width) {
	max-width: $width;
	@include cf;
	margin-left: auto;
	margin-right: auto;
}

@mixin allow(){

}


/*********************
	.menu-banners
**********************/
.menu-banners{
	&__inner{
		// @include wrap;
		@include cf;
	}
	&__item{
		position: relative;
		height: 480px;
		background-size: cover;
		background-position-x: center;
		&__header{
		}
		&__title{
			padding-top: 0.6em;
			text-align: center;
			@include font-size(36);
			margin-bottom: 0px;
			font-style: italic;
			@include sans-serif('noto-light');
			color: darken($black, 100%);
		}
		&__sub{
			text-align: center;
			@include font-size(16);
			display: block;
			color: darken($black, 100%);
		}
		&__allow{
			width: 75px;
			height: 1px;
			display: block;
			position: absolute;
			right: 20px;
			bottom: 20px;
			background-color: darken($black, 100%);
			&:after{
				content:'';
				width: 15px;
				height: 1px;
				background-color: darken($black, 100%);
				transform: rotate(45deg);
				position: absolute;
				right: -1px;
				bottom: 6px;
			}
		}
	}
}